body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

p.main {
  font-size: 24px;
}

.map {
    position: absolute;
    right: 0px;
    left: 400px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 400px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
}

.legend {
  position: relative;
  padding-top: 10px;
  width: 300px;
  background-color: #fff;
  z-index: 2000;
}

.legend h1{
  margin-bottom: 5px;
}

.item {
  padding-left: 10px;
  padding-right: 10px;
}

.colorbox {
  width: 20px;
  height: 20px;
  border-style:solid;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#yellow{
  background-color: yellow;
}

#green{
  background-color: green;
}

#purple {
  background-color: purple;
}
